

 .img_ba {
     height: 400px;
 }

.img_ba > img  {
    width: 100%;
    display: block;
}

.container_ba {
    width: 90%;
    display: block;
    margin: 30px auto
}

#before-after-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}

#after-image {
    display: block
}

#before-image {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

#resizer {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: white;
    /*Stop vertical scrolling on touch*/
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    cursor: pointer;
}

#resizer:after {
    background: linear-gradient(62deg, #005391 5%, #5477b7);
    content: '\21C4';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    margin: 0 0 0 -22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

@media (max-width:767px) {
    .container_ba {
        max-width: 90%;
        height: auto;
        outline: 1px solid red;
    }
}